:root {
    --font-family-primary: "Poppins", sans-serif;
    --font-family-secondary: "Nunito", sans-serif;
    --font-family-3: "Outfit", sans-serif;
    --text-md: 28px;
    --text-lg: 48px;
    --text-xl: 60px;
    --color-white: #FCFCFC;
    --color-white-2: #FBFBFB;
    --color-black: #010101;
    --color-black-02: #020202;
    --color-black-2: #43434DCC;
    --color-voilet: #43434D;
    --color-orange: #FF6D41;
    --color-blue: #294B78;
}

.font-family-primary {
    font-family: var(--font-family-primary);
}

.font-family-secondary {
    font-family: var(--font-family-secondary);
}

.font-family-3 {
    font-family: var(--font-family-3);
}

.text-md {
    font-size: var(--text-md);
}

.text-lg {
    font-size: var(--text-lg);
}

.text-xl {
    font-size: var(--text-xl);
}

.color-black {
    color: var(--color-black);
}

.color-white {
    color: var(--color-white);
}

.color-white-2 {
    background-color: var(--color-white-2);
}

.color-black-2 {
    color: var(--color-black-2);
}

.color-black-02 {
    color: var(--color-black-02);
}

.color-voilet {
    color: var(--color-voilet);
}

.color-orange {
    color: var(--color-orange);
}

.color-blue {
    color: var(--color-blue);
}

.bg-black-2 {
    background: var(--color-black-2);
}

.bg-blue {
    background: var(--color-blue);
}

@media (max-width:991.98px) {
    :root {
        --text-xl: 40px;
    }
}

@media (max-width:767.98px) {
    :root {
        --text-xl: 32px;
    }
}

@media (max-width:575.98px) {
    :root {
        --text-xl: 24px;
    }
}