@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url(../css/root.css);

.bg-img {
    background-image: url(../img/png/bg-img.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.lh-100p {
    line-height: 100%;
}

.lh-120p {
    line-height: 120%;
}

.lh-135p {
    line-height: 135%;
}

.lh-150p {
    line-height: 150%;
}

.max-w-1240 {
    max-width: 1240px;
}

.max-w-452 {
    max-width: 452px;
}

.max-w-1140 {
    max-width: 1140px;
}

.max-w-1320 {
    max-width: 1320px;
}

.max-w-570 {
    max-width: 570px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-40 {
    margin-bottom: 40px;
}

.gap-16 {
    gap: 16px;
}

.gap-32 {
    gap: 32px;
}

.lh-16 {
    line-height: 16px;
}

.lh-19 {
    line-height: 19.2px;
}

.lh-21 {
    line-height: 21.6px;
}

.lh-24 {
    line-height: 24px;
}

.min-h-818 {
    min-height: 891px;
}

.pt-102 {
    padding-top: 102px;
}

.lady {
    width: 100%;
    max-width: 426px;
}

.navbar-link {
    position: relative;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
}

.navbar-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, rgba(41, 75, 120, 0) 0%, #294B78 50%, rgba(41, 75, 120, 0) 100%);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.navbar-link:hover {
    color: var(--color-blue) !important;
}

.navbar-link:hover::after {
    width: 100%;
    left: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.navbox {
    padding: 16px 24px;
    border-radius: 65px;
}

.btn {
    background: linear-gradient(180deg, #2F4FB6 0%, #152350 100%);
    border-radius: 103px;
    padding: 18px 24px;
    border: none;
}

.btn:hover {
    background: linear-gradient(180deg, #152350 0%, #2F4FB6 100%);
}

.box {
    padding: 24px;
    border-radius: 12px;
    position: relative;
    animation: upDown 1.5s infinite alternate ease-in-out;
}

.box-1 {
    top: 18%;
    right: 2%;
}

.box-2 {
    bottom: 5%;
    left: -5%;
}

.main-heading-box {
    transition: all 200ms linear;
}

.slider-img {
    filter: invert(1);
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background: var(--color-blue) !important;
    position: relative;
}

.rotate40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-43deg);
}

.bg-transparent {
    opacity: 0;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

.store {
    transition: transform 0.5s ease-in-out;
}

.store:hover {
    transform: scale(1.1);
}

/* slider */
.logo {
    filter: grayscale(100%);
}

.logo:hover {
    filter: none;
}

.slick-track {
    display: flex !important;
    gap: 80px !important;
    align-items: center !important;
}

.mt-33 {
    margin-top: 33px;
}

.mb-120 {
    margin-bottom: 120px;
}

/* download section  */
.section-bg {
    background-image: url(../img/png/section-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 438px;
    border-radius: 12px;
}

.blue-box {
    padding-left: 12px;
    padding-right: 12px;
}

.mt-80 {
    margin-top: 80px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-120 {
    margin-bottom: 120px;
}

.max-w-598 {
    max-width: 598px;
}

/* footer */
.pt-60 {
    padding-top: 60px;
}

.mt-14 {
    margin-top: 14px !important;
}

.mt-16 {
    margin-top: 16px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-18 {
    margin-bottom: 18px;
}

.opacity-70 {
    opacity: 70%;
}

.opacity-80 {
    opacity: 80%;
}

.gap-48 {
    gap: 48px;
}

.footer-line {
    width: 100%;
    height: 1px;
    border: none;
    background: linear-gradient(90deg, rgba(1, 1, 1, 0) 0%, #010101 50%, rgba(1, 1, 1, 0) 100%);
}

.social-icon img {
    transition: transform 0.3s ease-in-out;
}

.footer-tags a {
    transition: transform 0.3s ease-in-out;
}

.footer-tags:hover a {
    transform: scale(1.2);
}

.footer-links:hover {
    color: var(--color-orange) !important;
}

.footer-tags {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: linear-gradient(180deg, #2F4FB6 0%, #152350 100%);
}

.footer-tags:hover {
    background: linear-gradient(180deg, #152350 0%, #2F4FB6 100%);
}

/* my-btn */
.myBtn {
    display: none;
    bottom: 15px;
    right: 15px;
    background-color: var(--color-white);
    border: 10px solid var(--color-blue);
    color: var(--color-blue);
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 2;
    border-radius: 50%;
}

@media (min-width:992px) {
    .bg-img {
        background-size: 100% 100%;
    }
}

@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        backdrop-filter: blur(95px) !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 400ms linear !important;
        z-index: 5;
    }

    .show-navbar {
        right: 0 !important;
    }

    .btn-2 {
        display: none;
    }

    .max-w-570 {
        max-width: none;
    }

    .page-logo {
        max-width: 100px;
    }

    .pt-102 {
        padding-top: 80px;
    }

}

@media (max-width:767.98px) {

    .pt-60 {
        padding-top: 10px;
    }
}

@media (max-width:575.98px) {
    @keyframes upDown {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .page-logo {
        max-width: 80px;
    }

    .box {
        padding: 5px;
    }

    .box-1 {
        top: 70%;
        right: 0%;
    }

    .box-2 {
        bottom: 10%;
        left: 0%;
    }

    .pt-102 {
        padding-top: 10px;
    }

    .mb-120 {
        margin-bottom: 30px;
    }

    .mt-60 {
        margin-top: 20px;
    }
}